apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: kyc-blockchain-pdb
  namespace: kyc-blockchain
  labels:
    app.kubernetes.io/name: kyc-blockchain
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: kyc-blockchain